@import "variables.css";

html{

	font-family: 'Noto Sans JP', sans-serif;
	background-color: var(--black);
}
h1{
	color:  var(--white);
	font size: var(--h1);


}


.navbar-brand{color:rgba(0,0,0,.9)}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem}.navbar>